* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-cont {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
.left-cont {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: 100vh;
  width: 50vw;
}
.top {
  background-color: #ffbf1f;
  padding: 30px;
  height: 30vh;
}
.left-head {
  color: #1e293b;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Roboto';
}
.desc {
  color: #1e293b;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
}
.no {
  height: 200px;
  width: 200px;
  align-self: center;
}
.bot {
  background-color: #ffc533;
  padding: 20px;
  display: flex;
  flex-direction: row;
  min-height: 70vh;
}
.list-cont {
  list-style: none;
}
.item {
  margin: 10px;
}
.right-cont {
  background-color: #0f172a;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-height: 100vh;
}
.right-head {
  color: #ffc533;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Roboto';
}
.cont {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.box {
  border-radius: 5px;
  height: 40px;
  width: 90%;
  padding: 10px;
}
.add-btn {
  background-color: #ffbf1f;
  color: #334155;
  height: 40px;
  width: 100px;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .left-head {
    font-size: 15px;
  }
  .right-cont {
    width: 50vw;
  }
  .left-cont {
    width: 50vw;
  }
  .right-head {
    font-size: 15px;
  }
  .add-btn {
    width: 60px;
  }
  .no {
    height: 100px;
    width: 100px;
  }
  .desc {
    font-size: 15px;
  }
}
